flows/SentimentAnalysis/SentimentAnalysis.json
{
  "name": "SentimentAnalysis",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appRsKoy8C5oYlhfx",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "value": "tblEUTVxFigCGtwjq",
          "mode": "id"
        },
        "triggerField": "Created",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        -240,
        -40
      ],
      "id": "f9c6e6fc-7034-4c3a-9495-734202285b8f",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "JHuGRi0xXuh7TtdN",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.fields.userReview }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You are an expert in sentiment analysis. \nYou conduct evaluation of the text provided and determine which of the three options applies\n\nPositive\nNegative\nNeutral\nYou respond with only one word."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        -20,
        -60
      ],
      "id": "73318df3-5141-4f77-a6b9-b0872dfddc2f",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        0,
        160
      ],
      "id": "b673fa87-3ee6-4bd3-a4e4-a5212d5a15c8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Rv8t4GN7W8OS6DzR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appRsKoy8C5oYlhfx",
          "mode": "list",
          "cachedResultName": "OnlineReviews",
          "cachedResultUrl": "https://airtable.com/appRsKoy8C5oYlhfx"
        },
        "table": {
          "__rl": true,
          "value": "tblEUTVxFigCGtwjq",
          "mode": "list",
          "cachedResultName": "Reviews",
          "cachedResultUrl": "https://airtable.com/appRsKoy8C5oYlhfx/tblEUTVxFigCGtwjq"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $('Airtable Trigger').item.json.id }}",
            "ReviewType": "={{ $json.text }}",
            "Status": "User Review Analysis Completed."
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userReview",
              "displayName": "userReview",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ReviewType",
              "displayName": "ReviewType",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachment Summary",
              "displayName": "Attachment Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        340,
        -60
      ],
      "id": "56a6e1be-0dbf-4d5a-894a-1f532dacc7ca",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "JHuGRi0xXuh7TtdN",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "39408225-ca38-4aae-a99c-ab4042488722",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a11b2c35ac6c7ef4cb78d417c0d2dc83c3776f335bec717acc2317f2369f41e"
  },
  "id": "V13UlW3ZL8JVaQ52",
  "tags": []
}